*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
    
}
.search {
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 1;
    border: 1px solid rgb(242, 0, 0);
    
  }

.search input {
margin:10%;
}

.search label {
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;}
  

label:hover {
  background: #F6F9FE;
  color: #174ea6;
}

label:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

label:focus {
  outline: none;
  border: 2px solid #4285f4;
}


.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
}
.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    border: 1px solid rgb(192, 168, 50);
    cursor: pointer;
}
.degree-section span {
    margin:10px;
    font-size: 30px;
}

.degree-section h2 {
font-size: 40px;
}

@media (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
    } 

    
}

footer{
    position: absolute;
    bottom:0;
    text-align: center;
}